<% include ../partials/header %>

<header class="jumbotron">
	<div class="container">
		<h1>Add New Comment to <%= campground.name %></h1>
	</div>
</header>
<div class="row">
	<div class="col-10 col-md-8 col-lg-6 mx-auto">
		<form action="/campgrounds/<%= campground.id %>/comments" method="POST">
			<input
				class="form-control my-2"
				type="text"
				name="comment[text]"
				placeholder="Text"
			/>
			<input class="btn btn-primary btn-block" type="submit" value="Submit" />
		</form>
		<div class="my-3">
			<a href="/campgrounds/<%= campground.id %>">
				Back to <%= campground.name %></a
			>
		</div>
	</div>
</div>

<% include ../partials/footer %>
