<% include ../partials/header %>

<h1 class="text-center">Log In!</h1>
<div class="row">
	<form action="/login" method="POST" class="col-10 col-md-8 col-lg-6 mx-auto">
		<input
			class="form-control my-2"
			type="text"
			name="username"
			placeholder="Username"
		/>
		<input
			class="form-control my-2"
			type="password"
			name="password"
			placeholder="Password"
		/>
		<input class="btn btn-primary btn-block" type="submit" value="Log In!" />
	</form>
</div>

<% include ../partials/footer %>
